@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

body{
  background: rgb(255, 211, 211);
  font-family: 'Explora', cursive;
  font-size: xx-large;
  background-image: url("images/hellookitty.jpg");
}

.login-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bi{
    size: 10rem;
}

.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mb-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

h1{
  padding-top: 1.5rem;
}

a{
  color: rgb(248, 243, 243);
}

a:hover{
  color: #644c4f;
  text-decoration: none;
}

.card{
  border: 0.40rem solid #80895d;
  top: 10%;
}

.form-control{
  background-color: #ffffff;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-select {
  padding: 10px;
}

.form-control:focus {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #da5767;
  outline: 0;
  box-shadow: none;
}

.btn{
  padding: 0.6rem 1.2rem;
  background: #d8929b;
  border: 2px solid #da5767;
}

.btn-primary:hover {
  background-color: #df8c96;
  border-color: #df8c96;
  transition: .3s;
}

.logoutBtn {
    padding: 0.6rem 1.2rem;
    background: #d8929b;
    border: 2px solid #da5767;
    border-radius: 10%;
}

.logoutBtn-primary:hover {
    background-color: #df8c96;
    border-color: #df8c96;
    transition: .3s;
}


